In [2]:
import pandas as pd 
import numpy as np

In [72]:
#dataframe creation
mydict  = {'name':['Anastasia','Dima','Katherine','James','Emily','Micheal','Matthew','Laura','Kevin','jonas'],
           'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
           'attempts':[1,3,2,3,2,3,1,1,2,1],
           'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels_array=['a','b','c','d','e','f','g','h','i','j']
my_array= pd.DataFrame (mydict)
my_array.index=labels_array
print(my_array)
#question1
print("this is the 3 first rows of your dataframe:")
print(my_array.head(3))
#question2
print("this is your new dataframe:")
print(my_array.dropna())
#question3
print("this is the 2columns name and score:")
print(my_array.loc[:,('name','score')])
#question4
my_dict2={'name':['Suresh'],'score':[15.5],'attempts':[1],'qualify':['yes']}
my_array2=pd.DataFrame(my_dict2)
my_array2.index=['k']
print(my_array2)
my_array=pd.concat([my_array,my_array2])
print("this is your new dataframe:")
print(my_array)
#question5
print("this is your new dataframe:")
print(my_array.drop('attempts',axis=1))
#question6
array_score=my_array.loc[:,('score')]
list_add=[]
for i in array_add :
    if i>10:
        list_add.append(1)
    else: list_add.append(0)
my_array['Success']=list_add
print("this is your new dataframe:")
print(my_array)
#question7
my_array.to_csv('my_data')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Micheal   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      jonas   19.0         1     yes
this is the 3 first rows of your dataframe:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
this is your new dataframe:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Micheal   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      jonas   19.0         1     yes
this is the 2columns name and score:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Micheal   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      jonas   19.0
     name  score  attempts qualify
k  Suresh   15.5         1     yes
this is your new dataframe:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Micheal   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      jonas   19.0         1     yes
k     Suresh   15.5         1     yes
this is your new dataframe:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Micheal   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      jonas   19.0     yes
k     Suresh   15.5     yes
this is your new dataframe:
        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Micheal   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      jonas   19.0         1     yes        1
k     Suresh   15.5         1     yes        1